In [40]:
import pandas as pd

In [42]:
df2020 = pd.read_csv('GSE_2020.csv')

In [43]:
df2020['date'] = pd.to_datetime(df2020['service_date'])

In [46]:
df2020.head

<bound method NDFrame.head of         service_date time_period      stop_id        station_name  \
0         2020-12-31  (00:00:00)  place-alfcl             Alewife
1         2020-12-31  (00:00:00)  place-andrw              Andrew
2         2020-12-31  (00:00:00)  place-aport             Airport
3         2020-12-31  (00:00:00)  place-aqucl            Aquarium
4         2020-12-31  (00:00:00)  place-asmnl             Ashmont
...              ...         ...          ...                 ...
1025304   2020-01-01  (23:30:00)  place-welln          Wellington
1025305   2020-01-01  (23:30:00)  place-wimnl         Wood Island
1025306   2020-01-01  (23:30:00)  place-wlsta           Wollaston
1025307   2020-01-01  (23:30:00)  place-wondl          Wonderland
1025308   2020-01-01  (23:30:00)  place-wtcst  World Trade Center

        route_or_line  gated_entries       date
0            Red Line            1.0 2020-12-31
1            Red Line            4.0 2020-12-31
2           Blue Line            5.0 2020-12-31
3           Blue Line            4.0 2020-12-31
4            Red Line            5.0 2020-12-31
...               ...            ...        ...
1025304   Orange Line           18.0 2020-01-01
1025305     Blue Line            7.0 2020-01-01
1025306      Red Line            1.0 2020-01-01
1025307     Blue Line            8.0 2020-01-01
1025308   Silver Line            6.0 2020-01-01

[1025309 rows x 7 columns]>

In [66]:
# Add a new column with the month name
df2020['month'] = df2020['date'].dt.strftime('%B')  # Month name (e.g., 'January')
df2020.head

<bound method NDFrame.head of         service_date time_period      stop_id        station_name  \
0         2020-12-31  (00:00:00)  place-alfcl             Alewife
1         2020-12-31  (00:00:00)  place-andrw              Andrew
2         2020-12-31  (00:00:00)  place-aport             Airport
3         2020-12-31  (00:00:00)  place-aqucl            Aquarium
4         2020-12-31  (00:00:00)  place-asmnl             Ashmont
...              ...         ...          ...                 ...
1025304   2020-01-01  (23:30:00)  place-welln          Wellington
1025305   2020-01-01  (23:30:00)  place-wimnl         Wood Island
1025306   2020-01-01  (23:30:00)  place-wlsta           Wollaston
1025307   2020-01-01  (23:30:00)  place-wondl          Wonderland
1025308   2020-01-01  (23:30:00)  place-wtcst  World Trade Center

        route_or_line  gated_entries       date     month
0            Red Line            1.0 2020-12-31  December
1            Red Line            4.0 2020-12-31  December
2           Blue Line            5.0 2020-12-31  December
3           Blue Line            4.0 2020-12-31  December
4            Red Line            5.0 2020-12-31  December
...               ...            ...        ...       ...
1025304   Orange Line           18.0 2020-01-01   January
1025305     Blue Line            7.0 2020-01-01   January
1025306      Red Line            1.0 2020-01-01   January
1025307     Blue Line            8.0 2020-01-01   January
1025308   Silver Line            6.0 2020-01-01   January

[1025309 rows x 8 columns]>

In [70]:
# Group by 'station_name' and 'month_year', and apply aggregation (e.g., sum of scores)
grouped2020 = df2020.groupby(['station_name', 'month']).agg({
    'gated_entries': 'sum',  # Sum the 'score' values for each group
    'route_or_line' : 'first'
    
}).reset_index()

In [78]:
grouped2020.head
grouped2020['year'] = 2020

In [80]:
grouped2020.to_csv("2020_data.csv", index=False)

In [110]:
df2021 = pd.read_csv('GSE_2021.csv')

df2021['date'] = pd.to_datetime(df2021['service_date'])



# Add a new column with the month name
df2021['month'] = df2021['date'].dt.strftime('%B')  # Month name (e.g., 'January')


# Group by 'station_name' and 'month_year', and apply aggregation (e.g., sum of scores)
grouped2021 = df2021.groupby(['station_name', 'month']).agg({
    'gated_entries': 'sum',  # Sum the 'score' values for each group
    'route_or_line' : 'first'
    
}).reset_index()

grouped2021.head
grouped2021['year'] = 2021

grouped2021.to_csv("2021_data.csv", index=False)

In [120]:
csv_files = ['2023_data.csv','2022_data.csv','2021_data.csv','2020_data.csv','2019_data.csv','2018_data.csv',
            '2017_data.csv',
            '2016_data.csv',
            '2015_data.csv',
            '2014_data.csv',]
# Create an empty list to store DataFrames
dfs = []

# Loop through the list of files and read each one into a DataFrame
for file in csv_files:
    df = pd.read_csv(file)  # Read each CSV into a DataFrame
    dfs.append(df)  # Append the DataFrame to the list

# Concatenate all DataFrames into one
df_combined = pd.concat(dfs, ignore_index=True)

# Save the combined DataFrame to a new CSV file
df_combined.to_csv('2014-2022_entryData.csv', index=False)

# Print the first few rows of the combined DataFrame
print(df_combined.head())

  station_name     month  gated_entries route_or_line  year
0      Airport     April       157973.0     Blue Line  2023
1      Airport    August       285603.0     Blue Line  2023
2      Airport  December       159399.0     Blue Line  2023
3      Airport  February       133327.0     Blue Line  2023
4      Airport   January       151772.0     Blue Line  2023

In [124]:
neighborhood = pd.read_csv('2020 boston demographics.csv')

In [126]:
neighborhood.head

<bound method NDFrame.head of                Neighborhood  Total:  White alone  \
0                   Allston   24904        12536
1                  Back Bay   18190        13065
2               Beacon Hill    9336         7521
3                  Brighton   52047        32694
4               Charlestown   19120        13626
5                 Chinatown    6211         1844
6                Dorchester  122191        27411
7                  Downtown   13768         8730
8               East Boston   43066        15760
9                    Fenway   37493        20350
10                Hyde Park   34172         7632
11            Jamaica Plain   40015        21463
12                 Longwood    5186         3584
13                 Mattapan   23840         1489
14             Mission Hill   17518         6635
15                North End   10805         9306
16               Roslindale   29586        14014
17                  Roxbury   54533         7137
18             South Boston   37917        29139
19  South Boston Waterfront    5579         4315
20                South End   30904        17362
21                 West End    7705         4933
22             West Roxbury   31561        20918

    Black or African American alone  Hispanic or Latino  \
0                              1326                3259
1                               690                1208
2                               252                 537
3                              2414                5376
4                               990                2075
5                               254                 451
6                             42714               25285
7                               569                 967
8                              1403               21700
9                              2333                3565
10                            15628                8319
11                             4511                8664
12                              329                 486
13                            16277                4083
14                             2427                3341
15                              141                 528
16                             5784                7255
17                            22624               16633
18                             1529                3887
19                              160                 316
20                             3259                3998
21                              338                 613
22                             3312                3567

    Asian, Native Hawaiian and Pacific Islander alone, all ages  \
0                                                6271
1                                                2410
2                                                 630
3                                                8703
4                                                1650
5                                                3480
6                                               13360
7                                                3018
8                                                1932
9                                                9210
10                                                736
11                                               3042
12                                                612
13                                                491
14                                               4315
15                                                445
16                                                987
17                                               3222
18                                               2077
19                                                482
20                                               4875
21                                               1440
22                                               2451

    Other Races or Multiple Races,  all ages  Total:.1  White alone.1  \
0                                       1512     23140          11976
1                                        817     17042          12349
2                                        396      8603           6980
3                                       2860     47657          30752
4                                        779     15661          11689
5                                        182      5477           1741
6                                      13421     95365          24327
7                                        484     12975           8340
8                                       2271     34826          14039
9                                       2035     36437          19950
10                                      1857     27369           6651
11                                      2335     34042          19182
12                                       175      5142           3581
13                                      1500     18513           1332
14                                       800     15596           6344
15                                       385     10236           8888
16                                      1546     23833          11987
17                                      4917     43152           6618
18                                      1285     33614          26930
19                                       306      5286           4171
20                                      1410     27315          15908
21                                       381      7098           4620
22                                      1313     25457          17676

    Black or African American alone.1  ...  \
0                                1184  ...
1                                 641  ...
2                                 231  ...
3                                2076  ...
4                                 662  ...
5                                 216  ...
6                               32678  ...
7                                 559  ...
8                                1136  ...
9                                2231  ...
10                              12585  ...
11                               3704  ...
12                                316  ...
13                              12951  ...
14                               1936  ...
15                                132  ...
16                               4544  ...
17                              17876  ...
18                               1084  ...
19                                138  ...
20                               2707  ...
21                                303  ...
22                               2399  ...

    Nursing facilities/Skilled-nursing facilities  \
0                                               0
1                                             269
2                                               0
3                                             266
4                                              55
5                                               0
6                                             291
7                                             321
8                                             132
9                                             261
10                                             67
11                                            319
12                                              0
13                                             85
14                                            112
15                                             41
16                                            438
17                                              0
18                                            188
19                                              0
20                                              0
21                                              0
22                                            412

    Other institutional facilities  Noninstitutionalized population:  \
0                                0                              3281
1                                0                              1610
2                                0                                33
3                               56                              3796
4                                0                                55
5                                0                               446
6                                0                               936
7                                0                              4124
8                                0                               109
9                                0                             15169
10                               0                               134
11                             120                               529
12                               0                              4624
13                               0                               102
14                               0                              1657
15                               0                               148
16                               0                                57
17                              41                              3553
18                               0                               125
19                               0                                 1
20                              45                               743
21                              57                                53
22                               0                                93

    College/University student housing  Military quarters  \
0                                 3214                  0
1                                 1487                  0
2                                    0                  0
3                                 3493                  0
4                                    0                 30
5                                  443                  0
6                                    0                  0
7                                 3283                  0
8                                    0                  0
9                                14960                  0
10                                  64                  0
11                                 160                  0
12                                4624                  0
13                                   0                  0
14                                1502                  0
15                                   0                116
16                                   0                  0
17                                2520                  0
18                                   0                  0
19                                   0                  0
20                                   0                  0
21                                   0                  0
22                                   0                  0

    Other noninstitutional facilities  Total:.3  Occupied  Vacant  \
0                                  67     10748     10027     721
1                                 123     11524     10006    1518
2                                  33      6037      5485     552
3                                 303     23653     22535    1118
4                                  25      9525      8932     593
5                                   3      3272      2937     335
6                                 936     47965     44823    3142
7                                 841      6604      5384    1220
8                                 109     18016     16695    1321
9                                 209     14625     13273    1352
10                                 70     13049     12471     578
11                                369     18547     17400    1147
12                                  0       366       317      49
13                                102      9347      8822     525
14                                155      6955      6668     287
15                                 32      6832      6314     518
16                                 57     12277     11682     595
17                               1033     21687     20025    1662
18                                125     19140     17961    1179
19                                  1      4622      3624     998
20                                743     17598     16152    1446
21                                 53      5243      4572     671
22                                 93     14070     13390     680

    household size
0         2.156478
1         1.630122
2         1.696080
3         2.126292
4         2.128303
5         1.962887
6         2.692323
7         1.731612
8         2.564420
9         1.658254
10        2.724000
11        2.238908
12        1.772871
13        2.662888
14        2.361278
15        1.681343
16        2.489471
17        2.499526
18        2.090529
19        1.539183
20        1.863546
21        1.653762
22        2.319343

[23 rows x 34 columns]>